.venv/
.__pycache__/
*.pyc
*.pyo
*.pyd
*.lock
.sender_logs/
database/backup*
undistributed_accounts_2026-06-03_18-44-34.csv
sender_logs/
*bots/__pycache__
*database/__pycache__
*total andrew_8.1mln_bounces_cleaned.txt
*profiles
domains.txt
subdomains.txt
utils/server_ip.txt
sendaa
utils/server_ip
fake_details.json
database/failed_new_accs.sql
database/total_new_accs_remaining.sql
txt
ali
chat_ids.txt